body {
  font-family: sans-serif;
  background-color: #f8f8f8;
  padding: 60px;
  width: 400px;
}

h1 {
  font-family: sans-serif;
  color: #212121;
  font-weight: 400;
  padding-bottom: 15px;
  border-bottom: 2px solid #ed5c55;
}

ul {
  color: #212121;
  padding-left: 20px;
  font-size: 20;
}

li {
  margin: 8px 0;
}
